<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kotlin_java_practicalss">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Kotlin_java_practicalss">
        <activity
            android:name="com.example.uiwidgets.ConstraintLayout_form"
            android:exported="false" />
        <activity
            android:name=".ConstraintLayout_form"
            android:exported="false"
            android:label="@string/title_activity_constraint_layout_form"
            android:theme="@style/Theme.Kotlin_java_practicalss.NoActionBar" />
        <activity
            android:name="com.example.uiwidgets.LayoutsDemo"
            android:exported="false" />
        <activity
            android:name="com.example.uiwidgets.Ripple_Effect"
            android:exported="false" />
        <activity
            android:name="com.example.uiwidgets.IMEOption"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.uiwidgets.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.uiwidgets.UIWidgetsA"
            android:exported="false" />
    </application>

</manifest>